{#
  SPDX-FileCopyrightText: 2024 LibreCode coop and contributors
  SPDX-License-Identifier: AGPL-3.0-or-later
#}
<table style="width:100%; border:0; {% if not qrcode %}padding-left:15px;{% endif %} font-size:8px;">
	<tr>
		{% if qrcode %}
			<td width="{{ qrcodeSize }}px">
				<img src="data:image/png;base64,{{ qrcode }}" style="width:{{ qrcodeSize }}px" />
			</td>
		{% endif %}
		<td style="vertical-align: bottom; padding: 0px 0px 15px 0px; line-height:1.5em;">
			<a href="{{ linkToSite }}" style="text-decoration: none; color: unset;">{{ signedBy }}</a>
			{% if validateIn %}
				<br>
				<a href="{{ validationSite }}"
					style="text-decoration: none; color: unset;">
					{{ validateIn|replace({'%s': validationSite}) }}
				</a>
			{% endif %}
		</td>
	</tr>
</table>
